*{
    margin: 0;
    padding: 0;

}
body{
    
    text-align: center;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.container{
    /* border: 10px solid beige; */
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 10px solid beige; */
    border-radius: 40rem 40rem  40rem 40rem;
    background-color: #2af598;
    #2af598;
   
    
    
}
.grocerylist{
    /* border: 10px solid beige; */
    height: 100vh;
    width: 80%;
    color:   #f9f586 ;
    box-shadow: 10px 100px 12px 12px rgba(245, 245, 245, 0.461);
    
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
   
   
}
#gro{
    font-size: 4rem;
    /* background-color: aqua; */
    padding: 2rem;
}
#eraser{
    font-size: 2rem;
    cursor: pointer;
    padding: 2rem;
    
}
#userInput{
    font-size: 2rem;
    border: 0;
    outline: 0;
    border-radius: 2rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: rgba(240, 248, 255, 0.744);
    /* border: 10px solid black; */
    
}

#item{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20rem 0px 0px;
    font-size: 2rem;
    cursor: pointer;
    
    text-align: left;
    color: rgba(253, 255, 255, 0.808);
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
   
}
   
