*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 100vh;

    width:100% ;
    display: flex;
justify-content: center;
align-items: center;
}
.container{
/* border: 2px solid red; */
border-radius: 0px 60rem;
width: 80%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 3rem;
background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
 

}

#input,#sub{
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    margin: 1rem;
    display: inline;
    
}
#input{
    width: 40rem;
}
.input{
    display: flex;
    /* border: 2px solid red; */
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dgree{
    /* background-color: aliceblue; */
    display: flex;
}
#Cityname{
    text-transform: uppercase;
}